@media screen and (max-width: 800px) 
{
  body {
    font-size: 12px;
    line-height: 1.5;
  }
  .container {
    width: 98%;
  }
  #nav-drawer {
    display: block;
  }
  .h-nav {
    display: none;
  }
  .main {
    float: none;
    clear: both;
    width: auto;
  }
  .h-title .h-logo {
    width: 60%;
  } 
  .m-h2, .m-h3 {
    padding: 10px 8px;
    font-size: 16px;
    line-height: 1.5;
  }
  .m-p {
    font-size: 15px;
  } 
  .side {
    clear: both;
    width: auto;
    float: none;
  } 
  .contents {
    padding: 3%;
  }
  .res-contents {
    padding-top: 0;
  }
  .m-p-last2 {
    margin-bottom: 50px;
  }
  .s-list {
    padding: 10px 15px;
  }
  .s-h4, .s-list {
    font-size: 15px;
  }
  .s-h4 {
    padding: 17px 10px;
  }
  .s-company-title {
    padding: 5px 0;
  }
  .m-section1 {
    margin-bottom: 60px;
  }
  .m-l-box span {
    top: 5px;
    left: 8px;
  }
  .m-card {
    margin-bottom: 20px;
  }
  .recrit-table th {
    padding: 14px;
  }
  .recrit-table {
    font-size: 15px;
    line-height: 1.5;
  }
  .m-p-link {
    margin-top: 8px;
  }
  .link-table th {
    width: 24%;
  }
  .s-menu {
    margin-bottom: 13px;
  }
  button.button {
    margin-bottom: 20px;
    margin-top: 5px;
  }
  .footer {
    padding: 12px 0;
  }
}

@media screen and (max-width: 500px)
{
  body {
    font-size: 12px;
    line-height: 1.5;
  }
  .m-h2, .m-h3 {
    width: 95%;
    padding: 5px 5px 5px 10px;
    font-size: 15px;
    line-height: 1.5;
  }
  .m-info {
    font-size: 12px;
  }
  .m-p {
    font-size: 12px;
    line-height: 1.5;
  }
  .s-h4, .s-list {
    font-size: 12px;
  }
  .s-h4 {
    padding: 15px 10px;
  }  
  .s-list {
    padding: 7px 10px;
  }
  .s-company-title {
    padding: 0;
  }
  table {
    width: 99%;
  }
  .recrit-table th {
    width: 30%;
    padding: 15px 0;
  }
  .recrit-table tr:first-child th {
    padding: 5px 0;
  }
  .recrit-table {
    font-size: 12px;
    line-height: 1.5;
  }
  .footer {
    font-size: 8px;
    padding: 5px 0;
  }
  .contact-table th{
    width: 30%;
    padding: 1px;
  }
  .contact-table input {
    width: 96%;
  }
}